* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 20vh;
    width: 100vw;
    opacity: 0.9;
}
.hero-section h1 {
    text-align: center;
    color: rgb(230, 144, 196);
    font-size: 5rem;
    text-shadow: 3px 4px #0a0a0a;
    opacity: 100;
}